
# https://markentier.tech/posts/2021/02/github-with-multiple-profiles-gpg-ssh-keys/
# Home
[user]
  name = Henri Vandersleyen 
  email = hvandersleyen@duck.com	
  signingkey = 06C766643AF0B81F
# work
; [user]
;   name = Henri Vandersleyen
;   email = hvandersleyen@duck.com	
;   signingkey = D9F43ED2A92852B0

[alias]
  clearcache = !"git rm -r --cached ."
# https://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
[credential]
  helper = wincred
[init]
  defaultBranch = "main"
[gpg]
	program = /usr/bin/gpg
[commit]
  gpgsign = true

[includeIf "gitdir:**/aviary/**/.git"]
  path = config.aviary
