#https://yamllint.readthedocs.io/en/stable/configuration.html
extends: default

rules:
  line-length : disable 
  comments:
    min-spaces-from-content: 1
    require-starting-space: false
  document-start:
    present: false
